:root {
    --color-white: #ffffff;
    --color-grey: #adadad;
    --color-black: #0D0D0D;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Visia Pro';
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url(/Assets/images/main-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

h1 {
    color: var(--color-white);
    text-align: center;
    font-size: 56px;
    font-weight: 800;
    line-height: 84px;
}

h2 {
    color: var(--color-grey);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

h3 {
    color: var(--color-grey);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

p {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.glass-morphism {
    border: 2px solid rgba(255, 255, 255, 0.40);
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(1250px);
    border-radius: 4px;
}


.navbar {
    border-bottom: 1px solid #4D4D4D;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.06);
}

.navbar-brand svg {
    max-width: 118px;
    width: 100%;
}

.main-title {
    margin-bottom: 24px;
}

.subscribe-form {
    width: 50%;
    margin: 32px auto auto;
}

.home-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-white);
    border-radius: 4px;
    background: #0B0B0B;
    box-shadow: 0px 4px 42px 0px rgba(61, 61, 61, 0.12);
    padding: 14px 32px;
    margin-top: 16px;
}


.home-btn:hover {
    color: var(--color-white);
}

.input-email {
    border-radius: 4px;
    border: 1px solid #4D4D4D;
    background: var(--color-white);
    padding: 8px 8px 8px 24px;
    width: 100%;
}

input[type=email]::placeholder {
    color: var(--color-grey);
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.submit-btn {
    display: flex;
    align-items: center;
    height: 75%;
    padding: 0px 8px;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
}

.features-card {
    display: flex;
    padding: 30px 24px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.features-card img {
    padding-right: 16px;
    max-width: 48px;
    width: 100%;
    max-height: 48px;
    height: 100%;
}

.footer {
    margin-top: 72px;
    border-top: 1px solid #4D4D4D;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.06);
}

.copyright {
    text-align: right;
}